{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "tarballDir": "./archive"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": ["./archive/*.tgz"],
        "fail": true
      }
    ],
    [
      "@semantic-release/git",
      {
        "message": "chore(release): 📢 ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ],
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true,
      "channel": "dev"
    }
  ]
}